body {
    background-color: #f3f3f3;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    color: #f3f3f3;
}

md-toolbar md-icon > svg {
    fill: #f3f3f3 !important;
}

tr {
    cursor: pointer;
}

md-content {
    background-color: transparent;
}

.box-shadow {
    box-shadow:  0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    color: white;
}

.half-dialog {
    min-width: 700px;
    overflow: initial !important;
}

.dynamic-content {
    overflow: auto;
    background-color: #f3f3f3;
}

.master-content {
    height: 100%;
}

.general-page-container {
    padding-top: 50px;
    width: 90%;
    margin: auto;
}

.accent-text {
    color: black;
}

.primary-text {
    color: #FF9900;
}

.warn-text {
    color: indianred;
}

.loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-left: -50px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
}

.loader-parent {
    position: relative;
}

.loader-container > .loader-label {
    margin-top: 20px;
    text-align: center;
    color: #FF9900;
}

.unfocus {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.focus {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}

.icon > svg {
    fill: grey;
    width: 24px;
    height: 24px;
}

.icon-button {
    cursor: pointer;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}