<div class="general-page-container">

    <lista-component fn="getPeople"></lista-component>

    <lista-component fn="getDogs"></lista-component>

    <lista-component fn="getCats"></lista-component>

</div>    