md-content{
    min-height: 300px;
}

.loading {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.8);

    position: absolute;
    display: flex;
    align-items: center;

    z-index: 999;
}

.loading .md-accent{
    margin: 0 auto;
}