<div class="general-page-container">

<md-content>

    <div class="loading" ng-if="$ctrl.isLoading">

        <md-progress-circular 
            class="md-accent" 
            md-mode="indeterminate" 
            md-diameter="40">
        </md-progress-circular>
        
    </div>

    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
        
        <md-button class="md-raised md-secundary"  ng-disabled="!($ctrl.pagination.page > 1)" ng-click="$ctrl.prevPage()">Anterior</md-button>
        <md-button class="md-raised md-primary" ng-disabled="!($ctrl.pagination.page < $ctrl.pagination.pages)" ng-click="$ctrl.nextPage()">Proximo</md-button>

        <md-select 
        ng-model="$ctrl.pagination.perPage"
        placeholder="Itens por página"
        class="md-no-underline" 
        ng-change="$ctrl.changeItensPerPage()">
            <md-option value="5">5</md-option>
            <md-option value="10">10</md-option>
            <md-option value="25">25</md-option>
            <md-option value="50">50</md-option>
            <md-option value="100">100</md-option>
        </md-select>

        </div>
    </md-toolbar>

    <md-list flex>

        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.items" ng-click="null">
            <img src="{{item.image}}" class="md-avatar" alt="{{item.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.description }}</h4>
            </div>
        </md-list-item>

    </md-list>            
</md-content>

</div>