<div class="login-body">

    <div class="login-container">

        <div class="login-frontbox box-shadow loader-parent">

            <div ng-show="isLoading" class="loader-container" style="top: 50%">
                <md-progress-circular class="focus" md-diameter="96"></md-progress-circular>
                <div class="loader-label">Entrando...</div>
            </div>

            <div class="login-form-container">

                <div ng-class="{'unfocus': isLoading}" class="md-no-momentum">

                    <div layout="row">
                        <img style="margin: auto" src="dist/assets/images/logo.png" />
                    </div>

                    <form action="submit" name="loginForm">

                        <!-- EMAIL -->
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>E-mail</label>
                                <input ng-model="credential.email" type="email" required maxlength="100" md-no-asterisk/>
                            </md-input-container>
                        </div>

                        <!-- PASSWORD -->
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <input ng-enter="login(credential)" type="{{passwordFieldType}}" ng-model="credential.password" type="text" required maxlength="80"
                                    placeholder="Senha" md-no-asterisk />
                                <a ng-click="showPassword(passwordFieldType);" class="showPassword">
                                    <md-icon class="icon" md-svg-src="dist/assets/icons/icon_visibility{{passwordVisibilityIcon}}.svg"></md-icon>
                                </a>

                                <!-- ERROR MSG -->
                                <div class="login-message-container">
                                    <span class="warn-text animate-show-hide" ng-show="errorMessage">{{errorMessage}}</span>
                                </div>

                            </md-input-container>
                        </div>

                        <!-- LOGIN BUTTON -->
                        <section layout="row" layout-align="center center" flex="100">
                            <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-enter="login(credential)" ng-click="login(credential)">
                                ENTRAR
                            </md-button>
                        </section>

                        <div class="login-forget-password-container primary-text">
                            <a ng-click="forgotPassword($event)">Esqueceu sua senha ?</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
    <footer class="login-footer">
        Kbase IT - Todos os direitos reservados.
    </footer>

</div>