.login-body {
  position         : fixed;
  width            : 100%;
  height           : 100%;
  background-color : white;
}

.login-container {
  width     : 540px;
  height    : 450px;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  display   : inline-flex;
}

.login-frontbox {
  background-color : #ffead2;
  border-radius    : 20px;
  height           : 100%;
  width            : 100%;
  position         : absolute;
}

.login-form-container {
  padding    : 20px;
  overflow-x : none;
}

.login-form-container form {
  overflow-x: hidden;
}

.login-form-container input {
  display          : block;
  height           : 34px;
  background-color : #f2f2f2;
  border           : none;
  font-size        : 16px;
  border-radius    : 5px;
}

.login button {
  padding       : 3px;
  border-radius : 10px;
  cursor        : pointer;
}

.login-message-container {
  height     : 30px;
  text-align : center;
  display    : grid;
  width      : 100%;
}

.login-forget-password-container {
  margin-top : 25px;
  cursor     : pointer;
  text-align : center;
}

.login-forget-password-container a {
  font-size: 16px;
}

.login-footer {
  font-size  : 0.7em;
  text-align : center;
  color      : #fff;
  background : rgba(0, 0, 0, 0.4);
  width      : 100vw;
  position   : absolute;
  bottom     : 0px;
  padding    : 0.3em 0;
}

.login-form-container md-input-container input {
  width: 100%;
}

.login-form-container md-input-container a {
  float           : right;
  font-size       : 0.7em;
  text-decoration : none;
  margin-top      : 2px;
  cursor          : pointer;
}

.login-form-container md-input-container label {
  text-align  : left;
  margin-left : 8px;
}

.showPassword {
  position : absolute;
  right    : 10px;
  top      : 6px;
}
